img {
    margin:50px;
    animation-name: rotate-reverse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}


@keyframes rotate {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(360deg);
		}
}


@keyframes rotate-reverse {
		from {
				transform: rotate(360deg);
		}
		to {
				transform: rotate(0deg);
		}
}