.box {
    width: 100px;
    height: 100px;
    background-color: #e84610;
    
    transform: rotate(100deg);
    /* Try other functions as well
    transform: rotate(100deg);
    transform: skew(1.5deg);
    transform: translate(100px, 100px);
    transform: scale(1.1);*/
}